.headimg {
      text-align: center;
      background-color: #000000;
   }

.headimg1 {
      text-align: left;
      background-color: #000000;
   }

.headimg2 {
      text-align: right;
      background-color: #000000;
   }
   
.headimg3 {
      text-align: center;
      background-color: #000000;
}

.headimg4 {
      text-align: center;
      background-color: #000000;
}

img.headimg {
    width: 33%;
    
}

.cardimg {
  border-radius: 50%;
  margin-top: 15%;
  margin-bottom: 15%;
  margin-left: 15%;
  margin-right: 15%;
  max-width: 210px;
  
}
.nav-link {
    color: white;
    font-family: sans-serif;
    font-size: 33px;
}
.collapse {
    color: white;
    font-family: sans-serif;
    font-size: 25px;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}


.info {
  display: block;
  background-size: 100%;
  height: 100%;
  width: 100%;
  background: 
    linear-gradient(purple 0%, green 90%), 
    linear-gradient(to right, purple 0%, yellow 90%), 
    url(../img/fish.jpg) no-repeat center fixed;
  background-blend-mode: screen, difference, lighten;
  background-size: 100%;
  background-size: cover;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 305px;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  text-align: center;
  font-family: arial;
  color: white;
}

.title {
  color: white;
  font-size: 18px;
}

.contactbtn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.infcard {
  text-decoration: none;
  font-size: 22px;
  color: white;
  margin-left: 3%;
  margin-right: 3%;
}

button:hover, a:hover {
  opacity: 0.7;
}

#loglabel:hover {
  opacity: 0.8;
}

#logoutlabel:hover {
  opacity: 0.8;
}



#logbtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.avatar {
    width: 40%;
    border-radius: 50%;
    
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 5% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
    
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

#logoutlabel {
    display: none;
}

#recaptchahidden {
    display: none;
}