.headimg {
      text-align: center;
      background-color: #000000;
   }

.headimg1 {
      text-align: left;
      background-color: #000000;
   }

.headimg2 {
      text-align: right;
      background-color: #000000;
   }
   
.headimg3 {
      text-align: center;
      background-color: #000000;
}

.headimg4 {
      text-align: center;
      background-color: #000000;
}

img.headimg {
    width: 33%;
}

.nav-link {
    color: white;
    font-family: sans-serif;
    font-size: 33px;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.msik {
  display: block;
  background-size: 100%;
  height: 100%;
  width: 100%;
  background: 
    linear-gradient(purple 0%, blue 90%), 
    linear-gradient(to right, purple 0%, yellow 90%), 
    url(../img/v6kbg.png) no-repeat center fixed;
  background-blend-mode: screen, difference, lighten;
  background-size: 100%;
  background-size: cover;
}