body {
    font-family: sans-serif;
}
.wrapper{
    text-align: center;
}
.wrapper h1{
    font-size: 120px;
    font-weight: normal;
    margin-bottom: 20px;
}
.wrapper img{
    border: 2px solid rgb(145,176,214);
}
.image_caption{
    margin-top: 10px;
    font-weight: bold;
}
.berries_container{
    margin-top: 50px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid black;
}
.berry{
    border-top: 1px solid black;
    padding: 20px 0 20px 0;
}
.berry h1{
    font-size:40px;
    margin: 0;
}
.berry span{
    font-size: 18px;
    font-style: italic;
}
.blue{
    background-color: rgb(198,217,241);
}
.cloud{
    background-color: rgb(253,233,217);
}
.lingon{
    background-color: rgb(217,149,148);
}