table{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}
caption{
    font-weight: bold;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 2px solid grey;
}

th{
    background-color: red;
    color: white;
}

td{
    border-color: black;
}

td.title{
    font-weight: bold;
}
th.title, td.title{
    border-right: 1px solid grey;
}

tbody tr:nth-child(even){
    background-color: #e0e0e0;
}

p{
    text-align:center;
}