body {

    font-family: Arial, Verdana, sans-serif;
    background-color: #f0f0f0;
    
}



h1, h2 {

    color: blue;

    font-weight: bold;

}

h1 {

    font-size: 4.0em;

}

figcaption {
     font-size: 12px;
     font-weight: bold;
}

ul, ol {

    font-size: 0.8em;
    color: #666666;
    border: 1px solid black;
}

ul, ol, p {
    margin-left: 20px;
}

.copyright_notice {

    font-size: 0.8em;

}

#special {

    font-size: 0.8em;

    color: yellowgreen;

    font-style: italic;

    border-left: 2px solid black;

    margin-left: 40px;

    padding-left: 10px;

}

.basic{
    background-color: #555555;
    color: white;
    font-family: monospace;
}