body {
    font-family: Arial, Verdana, sans-serif;
}

ol > li {
    color: green;    
}

ul li ul {
    font-weight: bold;
}

ul li ul li ul {
    color: blue;
}

p::first-letter {
    font-size:8em;
}

p::first-line {
    font-weight: bold;
}
